<h1>メッセージ一覧</h1>
<%= link_to "投稿画面へ", new_message_path %>
<% @messages.each do |message| %>
  <p>
    <%= message.title %>
    <%= link_to "詳細", message_path(message) %>
    <%= link_to "編集", edit_message_path(message) %>
  </p>
<% end %>