<h1>ユーザー 編集</h1>
<%= form_with model: @user,url: user_path(@user.id), method: :patch, local: true do |f|%>
  <p>氏名<%= f.text_field :name %></p>
  <p>年齢<%= f.text_field :age %></p>
  <%= f.submit "送信" %>
<% end %>